
.hero-title{
    font-size: xx-large;
    font-weight: bold;
    font-size: 3rem;

    background-color: #7971EA;
    color: white;

    padding: 30px;
    margin-bottom: 1rem;
}

.profiles-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 75vh;

    padding: 1rem;
}
